* {
    margin: 0;
    padding: 0;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;

}

a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

/*comon css end*/

/*navbar_start*/

.low_nav {
    padding-top: 0px;
    padding-bottom: 0px;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 99;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    width: 100%;
    background-color: transparent;
}

.low_nav img{
    width: 70%;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s,
}


/*manu*/
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    margin-right: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
   color: #fff;
    transition: all linear 0.4s;
   box-sizing: border-box;
   background-color: #ff9933;
   border-radius: 4px;
}
.navbar-light .navbar-nav .nav-link.active  {
   color: #ff9933;
   
}

/*navbar_end*/

/* why choose us section start */
.why_choose_us{
    margin-top: 20px;
    margin-bottom: 30px;
}

.why_choose_us_col1 {
	background-image: url(../img/why-choose-us/why-choose-us-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	position: relative;
	padding: 15px;
    z-index: 1;
}

.why_choose_us_col1::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

 
}

.why_choose_us_col1 h5 {
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 700;
	font-size: 29px;
	line-height: 138.52%;
	color: #FFFFFF;
	padding: 12px;
	margin-bottom: 15px;
}

.why_choose_us_col1 p {
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
    position: relative;
	line-height: 138.52%;
	color: #FFFFFF;
	padding: 3px 12px;
}

.why_choose_us_title {
	margin-bottom: 20px;
}

.why_choose_us_title p {
	margin-bottom: 24px;
    position: relative;
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	color: #333333;
}
.why_choose_us_title p::after{
    position: absolute;
    content: "";
    height: 0px;
    width: 20%;
    left: 0%;
    top: 130%;
    border-bottom: 2px solid #ff9933;
    border-radius: 2px;
    margin-bottom: 15px;
    
}
.why_choose_us_title h4{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;   
    color: #333333;
}

.why_choose_us_title span{   
    color: #046245;
}

.why_choose_us_content span{
    color: #046245;
}

.why_choose_us_content_title{
    margin-bottom: 20px;
}

.why_choose_us_content_title p{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 109.52%;
    color: #828282;
}

.why_choose_us_content_list {
	margin-bottom: 23px;
}

.why_choose_us_content_list i{
    color: #046245;
}

.why_choose_us_content_list p {
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 179.52%;
	color: #828282;
}

.law a {
	border: 2px solid #DC940F;
	border-radius: 8px;
	display: inline-block;
	text-align: left;
	color: #fff;
	padding: 10px 25px;
	background-color: #DC940F;
	margin-top: 4%;
}

.law h4 {
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 109.52%;
	color: #FFFFFF;
}

.progress {
	display: -ms-flexbox;
	display: flex;
	height: 1rem;
	overflow: hidden;
	font-size: .75rem;
	background-color: #D9D9D9;
	border-radius: 1.25rem;
	margin: 11px;
}

.progress-bar {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #ffffff;
	transition: width .6s ease;
}

/* why choose us section end */

/* contact us start */
.contact_us{
    padding-right: 0px;
}

.contact_us_col1{
    background-image: url(../img/contact-us/corporate-businessmen.jpg);;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    z-index: 1;
}

#contact_us_col1:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;    
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 22.01%, rgba(0, 94, 76, 0.371) 83.89%);
    left: 0;
    top: 0;
    z-index: -1;
}

.contact_us_col2{
    background-image: url(../img/contact-us/map-location.jpg);;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    z-index: 1;
}
/* contact us end */

/*banner_part_shart*/
#banner_full {
    background-image: url(../img/law-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 812px;
    position: relative;
    z-index: 1;
}

#banner_full:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;    
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 22.01%, rgba(0, 94, 76, 0.371) 83.89%);
    left: 0;
    top: 0;
    z-index: -1;
}

/*banner_text*/
.Banner_text {
    padding-top: 20%;
}
.Banner_text h1{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 111.52%;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.Banner_text h3{
    color: #DC940F;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 15px;

}
.over_text h2{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 127.02%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    position: relative;
    z-index: 1;

}
.over_text h2:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 150%;
    background-color: rgba(0, 0, 0, 0.282);
    right:40%;
    top: 0;
    z-index: -1;
}
.Banner_text p{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.02%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 10px;
}

.low_button a {
	border: 2px solid #DC940F;
	border-radius: 8px;
	display: inline-block;
	text-align: left;
	color: #fff;
	padding: 15px 14px;
	background-color: #DC940F;
	margin-top: 4%;
}

.low_button h4{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 109.52%;
    color: #FFFFFF;

}
/*banner_end_shart*/

.card{
    background: #FFFFFF;
    box-shadow: 0px 1px 15px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: none;

}

/* about us section start */

.aboutus{
    margin-top: 40px;
    margin-bottom: 20px;
}

.aboutus span{
    color: #046245;
}

.aboutus p{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    color:#333333;
    position: relative;
    margin-bottom: 15px;
}
.aboutus p::after{
    position: absolute;
    content: "";
    height: 0px;
    width: 33%;
    left: 0%;
    top: 130%;
    border-bottom: 2px solid #ff9933;
    border-radius: 2px;
    margin-bottom: 15px;
    
    
}

.aboutus h4{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    color: #333333;
}


.about_khairul_alam h5{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #333333;
    
}

.about_khairul_alam p{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 123.69%;
    text-align: center;
    color: #046245;
}

.about_khairul_alam h6{
    color: #DC940F;
    font-size: 17px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 500;
    margin-top: 10px;
}

.social_link_khairul_alam{
    margin-top: 47px;
}

.social_link_khairul_alam button {
	border-radius: inherit;
	-moz-box-shadow: 0 0 10px #cccccc;
	-webkit-box-shadow: 0 0 10px #cccccc;
	-o-box-shadow: 0 0 10px #cccccc;
	box-shadow: 0px 0 16px #ccc;
	color: #046245;
	display: inline-block;
	font-size: 25px;
	height: 51px;
	position: relative;
	text-align: center;
	width: 50px;
	margin-bottom: 30px;
	cursor: pointer;
	border-radius: 7px;
    margin: 10px;
}


.social_link_khairul_alam button:hover {
    background-color: #fff;
    color: #ff9933;
    transform: translateY(-10px);
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}


.about_sayed_mehedi_hasan h5{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #333333;
}

.about_sayed_mehedi_hasan p{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 123.69%;
    text-align: center;
    color: #046245;
}

.about_sayed_mehedi_hasan h6{
    color: #DC940F;
    font-size: 17px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 500;
    /*! margin-top: 10px; */
}

.social_link_sayed_mehedi_hasan{
    margin-top: 46px;
}

.social_link_sayed_mehedi_hasan button {
    background-color: #ffffff; /* Blue background */
    border: 1px solid gray; /* Remove borders */
    color: #046245; /* White text */
    font-size: 12px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */    
}
  
.social_link_sayed_mehedi_hasan button:hover {
    background-color: #DC940F;
}


.about_nur_e_alam h5{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #333333;
}

.about_nur_e_alam p{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 123.69%;
    text-align: center;
    color: #046245;
    margin-bottom: 12px;
}

.social_link_nur_e_alam{
    margin-top: 75px;
}

.social_link_nur_e_alam button {
    background-color: #ffffff; /* Blue background */
    border: 1px solid gray; /* Remove borders */
    color: #046245; /* White text */
    font-size: 12px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */    
}
  
.social_link_nur_e_alam button:hover {
    background-color: #DC940F;
}

/* about us section end */


/* our services section start */

.ourservices_title{
    margin-top: 40px;
    margin-bottom: 20px;
}

.ourservices_title span{
    color: #046245;
}

.ourservices_title p{
    position: relative;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    color: #333333;
}
.ourservices_title p::after{
    position: absolute;
    content: "";
    height: 0px;
    width: 12%;
    left: 0%;
    top: 130%;
    border-bottom: 2px solid #ff9933;
    border-radius: 2px;
    margin-bottom: 15px;
}
.ourservices_title h4{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #333333;
    margin-top: 30px;
}
.ourservices_title h5{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 25px;
}
.feedback{
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px 4px rgb(3 15 44 / 10%);
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
}

.feedback span{
    color: #DC940F;
}

.feedback h4 {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 900;
	font-size: 25px;
	line-height: 125.52%;
	text-align: center;
	color: #046245;
	margin-bottom: 15px;
}

.feedback img {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px 4px rgb(3 15 44 / 10%);
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    margin-top: 12px;
    margin-bottom: 25px;
}
.feedback p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138.52%;
    text-align: center;
    color: #828282;
}
.feedback2{
    margin-top: 25px;
    margin-bottom: 40px;
}
/* our services section end */

/* footer css start */
/*Contact part start*/
#footer {
    background-image: url(../img/footer/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    position: relative;
    z-index: 1;
}

#footer:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    z-index: -1;
}



.copy_logo img{
    width: 35%;
    height: auto;
}

.copy_right {
	border-top: 1px solid;
	border-color: #fffffffd;
	/*! margin-bottom: 15px; */
	/*! padding-bottom: 10px; */
}
.copy_logo {
    margin-bottom: 24px;
}

.copy_info p {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 25px;
    text-align: justify;
}

.copy_info .copy_social {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 20px;
}

.copy_info .copy_social li {
    display: inline-block;
    margin-right: 3px;
}

.copy_info .copy_social li a {
    display: inline-block;
    background-color: #ffffff;
    color: #046245;
    width: 35px;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
}

.copy_info .copy_social li a:hover{
    background-color: #DC940F;
    color: #ffffff;
}

.copy_text_col2 {
    padding-left: 6%;
    padding-top: 2%;
}

.copy_info h3 {
    margin-bottom: 30px;
    color: #ffffff;
    position: relative;
    padding-bottom: 8px;
    border-bottom: 1px solid #493f49;
    font-size: 24px;
    font-weight: 600;
}

.copy_info h3::before {
    bottom: -1px;
    left: 0;
    width: 55px;
    height: 1px;
    background-color: #DC940F;
    content: '';
    position: absolute;
}

.copy_icon{
    margin-top: 31px;
}

.copy_icon button {
	background-color: #ffffff;
	border: none;
	color: #046245;
	font-size: 19px;
	cursor: pointer;
	/* border-radius: 16px; */
	margin-right: 8px;
}
  
.copy_icon button:hover {
    background-color: #DC940F;
}

.copy_right {
    border-top: 1px solid;
    border-color: #ffffff7a;
    margin-top: 4%;
}

.copy_hade p{
    margin-left: 50px;
   
}
.copy_text p {
	font-family: 'Times New Roman';
	font-style: normal;
	font-size: 20px;
	letter-spacing: 0.01em;
	color: #FFFFFF;
	margin-top: 3%;
}

.copy_text span{
    color: #DC940F;
}
.contact_text{
    display:inline-block;
}


/*Contact part end*/


/* footer css end */